<section id="container" class="sub-page">
  <div class="wrap-container zerogrid">
    <div class="crumbs">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="location.html">Location</a></li>
      </ul>
    </div>
    <div id="main-content">
      <div class="wrap-content">
        <div class="row">
          <div class="col-1-3">
            <div class="wrap-col">
              <h3>Address</h3>
              <p><%=address %></p>
              <br />
              <h3>Hours Of Operation</h3>
              <p><span>MONDAY-FRIDAY: </span><%=hoursOfOperation.weekday.toUpperCase() %></p>
              <p>
                <span>SATURDAY-SUNDAY: </span><%=hoursOfOperation.weekend.toUpperCase()  %></p>
                <br />
              </p>

              <h3>Contact Info</h3>
              <p><span>EMAIL ADDRESS: </span><%=contactInfo.email %></p>
              <p><span>TELEPHONE: </span><a href="tel:<%=contactInfo.telephone %>"><%=contactInfo.telephone %></a></p>
              <p><span>FAX: </span><a href="fax:<%=contactInfo.fax %>"><%=contactInfo.fax %></p>
            </div>
          </div>
          <div class="col-2-3">
            <div class="wrap-col">
              <div class="wrap-map">
                <iframe
                  src="<%=mapEmbedUrl%>
                  width="100%"
                  height="380"
                  frameborder="0"
                  style="border: 0"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
